.suppliers{

padding:30px 50px;

}

.suppliers h2{

margin-bottom:25px;

font-size:28px;

}

.supplier-grid{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:20px;

}

.supplier-item{

background:white;

padding:20px;

border-radius:8px;

display:flex;

align-items:center;

gap:12px;

box-shadow:0 3px 8px rgba(0,0,0,.08);

transition:.3s;

}

.supplier-item:hover{

transform:translateY(-5px);

}

.flag{

font-size:28px;

}